<div class="vehicle-table-container">
  <h1>Vehicle List</h1>

  <mat-card class="vehicle-card">
    <table mat-table [dataSource]="vehicles" class="mat-elevation-z1">

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let vehicle">
          <img [src]="vehicle.image" alt="Vehicle" class="vehicle-image" />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.name }} </td>
      </ng-container>


      <!-- Availability Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef> Availability </th>
        <td mat-cell *matCellDef="let vehicle">
          <span [ngClass]="vehicle.available ? 'yes' : 'no'">
            {{ vehicle.available ? 'Yes' : 'No' }}
          </span>                            
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let vehicle"> ${{ vehicle.price }} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let vehicle">
          <button mat-icon-button style="color: darkgray;" matTooltip="View" (click)="viewVehicle(vehicle)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button style="color: darkgray;" matTooltip="Edit" (click)="editVehicle(vehicle)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button style="color: darkgray;" matTooltip="Delete" (click)="deletedialog(vehicle)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
