/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  
    margin: 0;
    background: linear-gradient(135deg, #ffffff, #a4b2da, #f8d19f);  }
 * {
        font-family: 'Poppins', sans-serif;
      }