
  
  
      <section class="welcome-section">
        <h1>Welcome back, Admin!</h1>
        <p class="date">{{ today | date:'fullDate' }}</p>

      </section>
  
      <section class="stats-container">
        <div class="stats-grid">
          <div class="stat-card blue"><i class="icon-car"></i><div>Total<br><strong>150</strong></div></div>
          <div class="stat-card orange"><i class="icon-clock"></i><div>Active Rentals<br><strong>75</strong></div></div>
          <div class="stat-card yellow"><i class="icon-checklist"></i><div>Pending Requests<br><strong>20</strong></div></div>
          <div class="stat-card green"><i class="icon-car"></i><div>Available Vehicles<br><strong>55</strong></div></div>
        </div>
      </section>
      
 
  